.fluye {
    background: url(../../../public/images/pages/purple/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#consejos-ultimo {
  margin-top: -6rem;
}

@media only screen and (max-width: 782px) {
    #consejos-ultimo {
        margin-top: unset;
      }
}
