.container-map {
    background-color: var(--purple-primary);
}

.container-map--sites{
    max-height: 520px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: white !important;
}

.container-map--spot {
    margin-top: -13rem;
    max-width: 23rem;
}

@media only screen and (max-width: 782px) {
    .container-map {
        padding: 4px 5px;
        font-size: 12px !important;
    }
    .container-map--sites{
        max-height: 200px;
    }
    .container-map--spot {
        margin-top: -7rem;
        max-width: 15rem;
        margin-bottom: 2rem;
    }
}

