.container-map {
    background-color: var(--purple-primary);
}

.container-map--sites{
    max-height: 520px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: white !important;

}

